In [12]:
# Librería de análisis de datos
import pandas as pd
# Librería para manipulación de fechas
from datetime import date

In [13]:
# Datos para la cuenta de ahorro
tasa_interes = 0.08
years = 3
abono_year = 12
inicial = 6000
meta = 50000
fecha_inicio=(date(2019,11,26))

In [14]:
help(np.pmt)

Help on function pmt in module numpy:

pmt(rate, nper, pv, fv=0, when='end')
    Compute the payment against loan principal plus interest.

    Given:
     * a present value, `pv` (e.g., an amount borrowed)
     * a future value, `fv` (e.g., 0)
     * an interest `rate` compounded once per period, of which
       there are
     * `nper` total
     * and (optional) specification of whether payment is made
       at the beginning (`when` = {'begin', 1}) or the end
       (`when` = {'end', 0}) of each period

    Return:
       the (fixed) periodic payment.

    Parameters
    ----------
    rate : array_like
        Rate of interest (per period)
    nper : array_like
        Number of compounding periods
    pv : array_like
        Present value
    fv : array_like,  optional
        Future value (default = 0)
    when : {{'begin', 1}, {'end', 0}}, {string, int}
        When payments are due ('begin' (1) or 'end' (0))

    Returns
    -------
    out : ndarray
        Payment against loan plus interest.  If all input is scalar, returns a
        scalar float.  If any input is array_like, returns payment for each
        input element. If multiple inputs are array_like, they all must have
        the same shape.

    Notes
    -----
    The payment is computed by solving the equation::

     fv +
     pv*(1 + rate)**nper +
     pmt*(1 + rate*when)/rate*((1 + rate)**nper - 1) == 0

    or, when ``rate == 0``::

      fv + pv + pmt * nper == 0

    for ``pmt``.

    Note that computing a monthly mortgage payment is only
    one use for this function.  For example, pmt returns the
    periodic deposit one must make to achieve a specified
    future balance given an initial deposit, a fixed,
    periodically compounded interest rate, and the total
    number of periods.

    References
    ----------
    .. [WRW] Wheeler, D. A., E. Rathke, and R. Weir (Eds.) (2009, May).
       Open Document Format for Office Applications (OpenDocument)v1.2,
       Part 2: Recalculated Formula (OpenFormula) Format - Annotated Version,
       Pre-Draft 12. Organization for the Advancement of Structured Information
       Standards (OASIS). Billerica, MA, USA. [ODT Document].
       Available:
       http://www.oasis-open.org/committees/documents.php
       ?wg_abbrev=office-formulaOpenDocument-formula-20090508.odt

    Examples
    --------
    What is the monthly payment needed to pay off a $200,000 loan in 15
    years at an annual interest rate of 7.5%?

    >>> np.pmt(0.075/12, 12*15, 200000)
    -1854.0247200054619

    In order to pay-off (i.e., have a future-value of 0) the $200,000 obtained
    today, a monthly payment of $1,854.02 would be required.  Note that this
    example illustrates usage of `fv` having a default value of 0.

In [15]:
# Cálculo de abonos mensuales iguales para llegar a la meta de ahorro en el tiempo deseado
abono = -np.pmt(tasa_interes/abono_year,years*abono_year,(meta-inicial))
abono

1378.8000803029693

In [16]:
# Rango de fechas en la tabla
rng = pd.date_range(fecha_inicio,periods=years*abono_year,freq='M')
rng.name = "Fecha del abono"

# Columnas de abonos y extracto de cuenta en las fechas respectivas
df = pd.DataFrame(index = rng, columns = ['Abono','Balance'],dtype = 'float')

# Para poner el indice con los periodos y no con las fechas
df.reset_index(inplace=True)
df.index+=1
df.index.name = "Período"

In [17]:
# Los abonos son iguales
df["Abono"] = abono

# Vector indizador de los periodos de los abonos
index_vector = np.arange(1,len(rng)+1)

# Extracto de la cuenta mes a mes
df["Balance"] = inicial*(1+tasa_interes/abono_year)**index_vector + abono*(((1+tasa_interes/abono_year)**index_vector-1)/(tasa_interes/abono_year))

In [18]:
# Redondear con dos cifras decimales y mostrar DataFrame
df = df.round(2)
df

        Fecha del abono   Abono   Balance
Período
1            2019-11-30  1378.8   7418.80
2            2019-12-31  1378.8   8847.06
3            2020-01-31  1378.8  10284.84
4            2020-02-29  1378.8  11732.20
5            2020-03-31  1378.8  13189.22
6            2020-04-30  1378.8  14655.95
7            2020-05-31  1378.8  16132.45
8            2020-06-30  1378.8  17618.80
9            2020-07-31  1378.8  19115.06
10           2020-08-31  1378.8  20621.30
11           2020-09-30  1378.8  22137.57
12           2020-10-31  1378.8  23663.96
13           2020-11-30  1378.8  25200.52
14           2020-12-31  1378.8  26747.32
15           2021-01-31  1378.8  28304.43
16           2021-02-28  1378.8  29871.93
17           2021-03-31  1378.8  31449.88
18           2021-04-30  1378.8  33038.34
19           2021-05-31  1378.8  34637.40
20           2021-06-30  1378.8  36247.12
21           2021-07-31  1378.8  37867.56
22           2021-08-31  1378.8  39498.81
23           2021-09-30  1378.8  41140.94
24           2021-10-31  1378.8  42794.01
25           2021-11-30  1378.8  44458.11
26           2021-12-31  1378.8  46133.29
27           2022-01-31  1378.8  47819.65
28           2022-02-28  1378.8  49517.25
29           2022-03-31  1378.8  51226.16
30           2022-04-30  1378.8  52946.47
31           2022-05-31  1378.8  54678.25
32           2022-06-30  1378.8  56421.57
33           2022-07-31  1378.8  58176.51
34           2022-08-31  1378.8  59943.15
35           2022-09-30  1378.8  61721.58
36           2022-10-31  1378.8  63511.85

## Tarea.
> - Consultar tasas de interés reales en algún banco y proyectar un ahorro mensual para que al terminar su carrera tengan $\$85000$ MXN en su cuenta.
> - Hacer esto en un nuevo archivo, llamarlo Gi_T7ApellidoNombre.ipynb y subirlo a moodle. Donde $i=1,2$ es el número del grupo al que pertenece 
> - Plazo:

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Cristian Camilo Zapata Zuluaga.
</footer>